<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>941053258251-g1qbpq4rpfv9bbst18r13iud5cssf4ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941053258251-g1qbpq4rpfv9bbst18r13iud5cssf4ld</string>
	<key>API_KEY</key>
	<string>AIzaSyCnzVFks6Yfv5HfrDl2m3NCeQ6G0omGl2w</string>
	<key>GCM_SENDER_ID</key>
	<string>941053258251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.realmfire.RealmFireDemo</string>
	<key>PROJECT_ID</key>
	<string>realmfire-53b41</string>
	<key>STORAGE_BUCKET</key>
	<string>realmfire-53b41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:941053258251:ios:6250cbc4314b8c40</string>
	<key>DATABASE_URL</key>
	<string>https://realmfire-53b41.firebaseio.com</string>
</dict>
</plist>