<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941053258251-5gi8gk1jdht2mp5mv8tovm23ph4eritv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941053258251-5gi8gk1jdht2mp5mv8tovm23ph4eritv</string>
	<key>API_KEY</key>
	<string>AIzaSyCnzVFks6Yfv5HfrDl2m3NCeQ6G0omGl2w</string>
	<key>GCM_SENDER_ID</key>
	<string>941053258251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simonbengtsson.RealmFire</string>
	<key>PROJECT_ID</key>
	<string>realmfire-53b41</string>
	<key>STORAGE_BUCKET</key>
	<string>realmfire-53b41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941053258251:ios:fc2c4d8a13db12ca</string>
	<key>DATABASE_URL</key>
	<string>https://realmfire-53b41.firebaseio.com</string>
</dict>
</plist>